<div class='main container'>
<p>

  Wafer toffee lollipop cookie cupcake ice cream. Gingerbread cheesecake dessert muffin cake soufflé chocolate cake toffee. Candy candy danish. Bear claw muffin marzipan ice cream oat cake pastry lemon drops. Jelly marshmallow marshmallow marzipan. Macaroon pie wafer. Gingerbread jujubes jelly beans powder. Bear claw lollipop cupcake sweet roll powder tiramisu powder croissant jujubes. Macaroon chupa chups candy carrot cake jelly beans. Chocolate bar croissant marzipan donut pudding pudding. Tootsie roll ice cream donut bonbon jelly jelly beans. Toffee chocolate cake dragée tootsie roll cheesecake brownie wafer.



</p>
  <div class='row'>
    <div class='col-md-12'>
    <% @photos.each do | photo | %>
    <div class='col-md-3'>
      <%= photo['name'] %><br/>
      <%= image_tag photo['image_url'] %>
    </div>
    <% end %>
    </div>
  </div>
</div>
